@import "../../Styles/utilities/varaibles";
@import "../../Styles/utilities/mixins";

.Menu {
    display: none;
    padding: 2%;
    background: $primary_color;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transform: translateY(-100%);
    height: 100vh;

    @include Mobile{
        display: flex;
    }

    &:target {
        transform: translateY(0);
    }

    &__close {
        width: 15vw;
        height: 15vw;
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(3deg) brightness(113%) contrast(101%);
    }

    &__link-container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 5%;
        row-gap: 10%;
        height: 100%;
    }

    &__links{
        color: $secondary_color;
        width: 100%;
        text-align: center;
        padding-bottom: 2%;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: 10vw;
        border-bottom: 2px solid $secondary_color;

        &:hover{
            color: $hovering_color;
            border-bottom: 2px solid $hovering_color;
        }
    }
}