@import "../../Styles/utilities/varaibles";
@import "../../Styles/utilities/mixins";


.All-container {
    display: flex;
    flex-direction: column;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    margin: 2% 5% 2% 5%;
    align-items: center;



    @include Mobile {
        margin: 3% 3% 3% 3%;

    }

    &__logo-container {
        display: block;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        width: 5vw;
        border-radius: 50%;
        border: 4px solid black;

        @include Tablet {
            width: 10vw;
        }

        @include Mobile {

            width: 15vw;

        }
    }

    &__link-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-right: 5%;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: 2vw;
        column-gap: 5%;

        @include Tablet {
            font-size: 3.5vw;
        }

        @include Mobile {
            display: none;
        }
    }

    &__links {
        color: $primary_color;

        &:hover {
            color: $hovering_color !important;
            transform: scale(1.1);
            font-weight: bold;
        }
    }

    &__theme {
        display: flex;
        justify-content: end;
        width: fit-content;

    }


    &__icon {
        width: 3vw;
        height: 4vw;
        color: #fccb70;
        cursor: pointer;

        &:hover {
            animation: rotate 4s linear infinite;
        }

        @include Tablet {
            width: 5vw;
            height: 5vw;
        }

        @include Mobile {
            width: 10vw;
            height: 10vw;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

    &__moon {
        width: 3vw;
        height: 4vw;
        color: #fccb70;
        cursor: pointer;


        &:hover {
            animation: swinging 1.5s linear infinite;
        }

        @include Tablet {
            width: 5vw;
            height: 5vw;
        }

        @include Mobile {
            width: 10vw;
            height: 10vw;
        }

        @keyframes swinging {
            0% {
                transform: rotate(20deg);
            }

            50% {
                transform: rotate(-5deg)
            }

            100% {
                transform: rotate(20deg);
            }
        }
    }

    &__burger {
        display: none;

        @include Mobile {
            display: flex;
            width: 100%;
            height: 100%;
            margin-right: 5%;
            justify-content: flex-end;
        }
    }

    &__menu-hide {
        display: none;

        @include Mobile {
            display: block;
            width: 10vw;
            height: 10vw;
        }
    }
}