.All-container {
  display: flex;
  flex-direction: column;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  margin: 2% 5% 2% 5%;
  align-items: center;
}
@media (max-width: 425px) {
  .Navbar {
    margin: 3% 3% 3% 3%;
  }
}
.Navbar__logo-container {
  display: block;
  justify-content: center;
  align-items: center;
}
.Navbar__logo {
  width: 5vw;
  border-radius: 50%;
  border: 4px solid black;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Navbar__logo {
    width: 10vw;
  }
}
@media (max-width: 425px) {
  .Navbar__logo {
    width: 15vw;
  }
}
.Navbar__link-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 5%;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 2vw;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Navbar__link-container {
    font-size: 3.5vw;
  }
}
@media (max-width: 425px) {
  .Navbar__link-container {
    display: none;
  }
}
.Navbar__links {
  color: rgb(21, 21, 21);
}
.Navbar__links:hover {
  color: #1072D5 !important;
  transform: scale(1.1);
  font-weight: bold;
}
.Navbar__theme {
  display: flex;
  justify-content: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Navbar__icon {
  width: 3vw;
  height: 4vw;
  color: #fccb70;
  cursor: pointer;
}
.Navbar__icon:hover {
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Navbar__icon {
    width: 5vw;
    height: 5vw;
  }
}
@media (max-width: 425px) {
  .Navbar__icon {
    width: 10vw;
    height: 10vw;
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Navbar__moon {
  width: 3vw;
  height: 4vw;
  color: #fccb70;
  cursor: pointer;
}
.Navbar__moon:hover {
  -webkit-animation: swinging 1.5s linear infinite;
          animation: swinging 1.5s linear infinite;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Navbar__moon {
    width: 5vw;
    height: 5vw;
  }
}
@media (max-width: 425px) {
  .Navbar__moon {
    width: 10vw;
    height: 10vw;
  }
}
@-webkit-keyframes swinging {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes swinging {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
.Navbar__burger {
  display: none;
}
@media (max-width: 425px) {
  .Navbar__burger {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 5%;
    justify-content: flex-end;
  }
}
.Navbar__menu-hide {
  display: none;
}
@media (max-width: 425px) {
  .Navbar__menu-hide {
    display: block;
    width: 10vw;
    height: 10vw;
  }
}

.Menu {
  display: none;
  padding: 2%;
  background: rgb(21, 21, 21);
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translateY(-100%);
  height: 100vh;
}
@media (max-width: 425px) {
  .Menu {
    display: flex;
  }
}
.Menu:target {
  transform: translateY(0);
}
.Menu__close {
  width: 15vw;
  height: 15vw;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(3deg) brightness(113%) contrast(101%);
}
.Menu__link-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 5%;
  row-gap: 10%;
  height: 100%;
}
.Menu__links {
  color: rgb(227, 245, 247);
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 10vw;
  border-bottom: 2px solid rgb(227, 245, 247);
}
.Menu__links:hover {
  color: #1072D5;
  border-bottom: 2px solid #1072D5;
}

.Head {
  display: grid;
  grid-template-columns: auto 0.6fr;
  margin: 2% 5% 2% 5%;
  padding-top: 5%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Head {
    padding-top: 0;
  }
}
@media (max-width: 425px) {
  .Head {
    margin: 3% 3% 3% 3%;
    grid-template-columns: auto;
    justify-content: center;
  }
}
.Head__intro-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 425px) {
  .Head__intro-container {
    order: 2;
  }
}
.Head__intro {
  font-size: 4vw;
  font-family: "Roboto Slab", serif;
  color: rgb(21, 21, 21);
  letter-spacing: 0.5vw;
  line-height: 6vw;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Head__intro {
    font-size: 6vw;
    line-height: 8vw;
  }
}
@media (max-width: 425px) {
  .Head__intro {
    margin-top: -30vw;
    font-size: 10vw;
    line-height: 14vw;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Head__name {
  color: #1072D5;
  font-weight: bolder;
}
.Head__btn-con {
  display: flex;
  align-items: center;
  margin-top: 2%;
  -moz-column-gap: 8%;
       column-gap: 8%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Head__btn-con {
    margin-top: 5%;
  }
}
@media (max-width: 425px) {
  .Head__btn-con {
    justify-content: space-evenly;
    margin-top: 5%;
  }
}
.Head__talk, .Head__resume {
  display: flex;
  font-size: 2vw;
  border-radius: 10%;
  font-weight: bold;
  color: rgb(227, 245, 247);
  background-color: rgb(21, 21, 21);
  padding: 2vw;
  outline: none;
  margin-top: 5%;
  border: 1px solid rgb(21, 21, 21);
  box-shadow: 5px 10px gray;
  cursor: pointer;
}
.Head__talk:hover, .Head__resume:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Head__talk, .Head__resume {
    font-size: 3vw;
  }
}
@media (max-width: 425px) {
  .Head__talk, .Head__resume {
    font-size: 6.9vw;
  }
}
.Head__resume {
  font-size: 1.6vw;
  border-radius: 5%;
  color: rgb(227, 245, 247);
  background: #1072D5;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Head__resume {
    font-size: 2.5vw;
  }
}
@media (max-width: 425px) {
  .Head__resume {
    font-size: 6vw;
  }
}
.Head__img-container {
  display: flex;
  height: 62%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Head__img-container {
    height: auto;
  }
}
@media (max-width: 425px) {
  .Head__img-container {
    height: 60%;
  }
}
.Head__me {
  display: flex;
  border-radius: 30%;
  width: 100%;
}
@media (max-width: 425px) {
  .Head__me {
    margin-top: 2%;
  }
}

.Skill {
  display: flex;
  flex-direction: column;
  margin: 2% 5% 2% 5%;
}
@media (max-width: 425px) {
  .Skill {
    margin: 3% 3% 3% 3%;
  }
}
.Skill__title-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 4%;
       column-gap: 4%;
}
@media (max-width: 425px) {
  .Skill__title-container {
    -moz-column-gap: 6%;
         column-gap: 6%;
  }
}
.Skill__title {
  font-size: 5vw;
  font-family: "Gemunu Libre", sans-serif;
  color: rgb(21, 21, 21);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Skill__title {
    font-size: 7vw;
  }
}
@media (max-width: 425px) {
  .Skill__title {
    font-size: 15vw;
  }
}
.Skill__gear {
  width: 3vw;
  height: 4vw;
  color: #1072D5;
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Skill__gear {
    width: 5vw;
    height: 5vw;
  }
}
@media (max-width: 425px) {
  .Skill__gear {
    width: 9vw;
    height: 9vw;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Skill__info-container {
  display: flex;
  margin-top: 4%;
}
.Skill__info {
  font-size: 2.5vw;
  letter-spacing: 0.3vw;
  text-align: center;
  font-weight: lighter;
  font-family: "Roboto Slab", serif;
  color: rgb(21, 21, 21);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Skill__info {
    font-size: 3.5vw;
  }
}
@media (max-width: 425px) {
  .Skill__info {
    font-size: 5.5vw;
    line-height: 8vw;
  }
}
.Skill__techno-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  margin-top: 5%;
  row-gap: 3vw;
  justify-content: space-between;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Skill__techno-container {
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
  }
}
@media (max-width: 425px) {
  .Skill__techno-container {
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    margin-top: 5%;
  }
}
.Skill__techno-box {
  display: flex;
  width: 100%;
  height: 100%;
}
.Skill__techno, .Skill__boot {
  width: 12vw;
  height: 12vw;
  padding: 2%;
  border: 5px solid rgb(21, 21, 21);
  border-radius: 50%;
  position: relative;
}
.Skill__techno:hover, .Skill__boot:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Skill__techno, .Skill__boot {
    width: 16vw;
    height: 16vw;
  }
}
@media (max-width: 425px) {
  .Skill__techno, .Skill__boot {
    width: 25vw;
    height: 25vw;
  }
}
.Skill__boot {
  border-radius: 50%;
  border: 5px solid rgb(21, 21, 21);
}

.Work {
  display: flex;
  flex-direction: column;
  margin: 10% 5% 2% 5%;
}
@media (max-width: 425px) {
  .Work {
    margin: 3% 3% 3% 3%;
  }
}
.Work__head-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 4%;
       column-gap: 4%;
  margin-bottom: 5%;
}
@media (max-width: 425px) {
  .Work__head-container {
    -moz-column-gap: 6%;
         column-gap: 6%;
  }
}
.Work__head {
  font-size: 5vw;
  font-family: "Gemunu Libre", sans-serif;
  color: rgb(21, 21, 21);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__head {
    font-size: 7vw;
  }
}
@media (max-width: 425px) {
  .Work__head {
    font-size: 15vw;
  }
}
.Work__gif {
  display: flex;
  align-items: center;
  margin-bottom: 0.5vw;
  width: 5vw;
  height: 5vw;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__gif {
    width: 10vw;
    height: 8vw;
  }
}
@media (max-width: 425px) {
  .Work__gif {
    width: 20vw;
    height: 15vw;
  }
}
.Work__title-container {
  display: flex;
  flex-direction: column;
  font-size: 2.5vw;
  margin-bottom: 5%;
  text-align: center;
  letter-spacing: 0.3vw;
  font-weight: lighter;
  font-family: "Roboto Slab", serif;
  color: rgb(21, 21, 21);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__title-container {
    font-size: 3.5vw;
  }
}
@media (max-width: 425px) {
  .Work__title-container {
    font-size: 5.5vw;
    line-height: 8vw;
  }
}
.Work__proj-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.Work__proj-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__proj-box {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .Work__proj-box {
    flex-direction: column;
  }
}
.Work__proj-pic-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__proj-pic-container {
    margin-bottom: 5%;
  }
}
@media (max-width: 425px) {
  .Work__proj-pic-container {
    margin-bottom: 10%;
  }
}
.Work__proj-link {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__proj-link {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .Work__proj-link {
    align-items: center;
    justify-content: center;
  }
}
.Work__proj-pic {
  display: block;
  width: 80%;
  background-color: #fff;
  height: auto;
  border-radius: 5%;
  border: 5px solid #1072D5;
  box-shadow: 5px 10px gray;
}
.Work__proj-pic:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__proj-pic {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .Work__proj-pic {
    width: 100%;
    border: 3px solid #1072D5;
  }
}
.Work__info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Work__proj-title-container {
  display: flex;
}
.Work__proj-title {
  font-size: 5vw;
  font-family: "Gemunu Libre", sans-serif;
  color: #1072D5;
}
@media (max-width: 425px) {
  .Work__proj-title {
    font-size: 10vw;
  }
}
.Work__proj-gif, .Work__proj-gif-pop {
  margin-left: 5%;
  width: 7vw;
  height: 5vw;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__proj-gif, .Work__proj-gif-pop {
    margin-top: -1%;
    width: 10vw;
    height: 8vw;
  }
}
@media (max-width: 425px) {
  .Work__proj-gif, .Work__proj-gif-pop {
    margin-top: -1%;
    width: 20vw;
    height: 12vw;
  }
}
.Work__proj-gif-uk {
  width: 5vw;
  height: 3vw;
  margin-left: 5%;
  margin-top: 3.5%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__proj-gif-uk {
    width: 6vw;
    height: 4vw;
    margin-top: 1%;
  }
}
@media (max-width: 425px) {
  .Work__proj-gif-uk {
    width: 8vw;
    height: 7vw;
    margin-top: 3%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__proj-gif-pop {
    margin-top: -3%;
    width: 10vw;
    height: 8vw;
  }
}
@media (max-width: 425px) {
  .Work__proj-gif-pop {
    margin-top: -5%;
    width: 20vw;
    height: 15vw;
  }
}
.Work__proj-info {
  font-size: 2.5vw;
  margin-top: 2%;
  letter-spacing: 0.3vw;
  font-weight: lighter;
  font-family: "Roboto Slab", serif;
  color: rgb(21, 21, 21);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Work__proj-info {
    font-size: 3.5vw;
  }
}
@media (max-width: 425px) {
  .Work__proj-info {
    font-size: 5.5vw;
    line-height: 8vw;
  }
}

.About {
  display: flex;
  flex-direction: column;
  margin: 10% 5% 2% 5%;
}
@media (max-width: 425px) {
  .About {
    margin: 3% 3% 3% 3%;
  }
}
.About__head-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 4%;
       column-gap: 4%;
  margin-bottom: 5%;
}
@media (max-width: 425px) {
  .About__head-container {
    -moz-column-gap: 6%;
         column-gap: 6%;
  }
}
.About__head {
  font-size: 5vw;
  font-family: "Gemunu Libre", sans-serif;
  color: rgb(21, 21, 21);
}
@media (max-width: 768px) and (min-width: 425px) {
  .About__head {
    font-size: 7vw;
  }
}
@media (max-width: 425px) {
  .About__head {
    font-size: 10vw;
  }
}
.About__gif, .About__gif-work {
  display: flex;
  align-items: center;
  width: 5vw;
  height: 5vw;
}
@media (max-width: 768px) and (min-width: 425px) {
  .About__gif, .About__gif-work {
    width: 10vw;
    height: 8vw;
  }
}
@media (max-width: 425px) {
  .About__gif, .About__gif-work {
    width: 20vw;
    height: 15vw;
  }
}
.About__gif-work {
  width: 8vw;
  height: 8vw;
}
@media (max-width: 768px) and (min-width: 425px) {
  .About__gif-work {
    width: 16vw;
    height: 16vw;
  }
}
@media (max-width: 425px) {
  .About__gif-work {
    width: 25vw;
    height: 25vw;
  }
}
.About__tech {
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: 5px solid rgb(21, 21, 21);
  border-width: fit-content;
}
@media (max-width: 768px) and (min-width: 425px) {
  .About__tech {
    width: 8vw;
    height: 8vw;
  }
}
@media (max-width: 425px) {
  .About__tech {
    width: 15vw;
    height: 15vw;
  }
}
.About__title-container {
  display: flex;
  flex-direction: column;
  font-size: 2.5vw;
  row-gap: 2vw;
  margin-bottom: 5%;
  text-align: center;
  letter-spacing: 0.3vw;
  font-weight: lighter;
  font-family: "Roboto Slab", serif;
  color: rgb(21, 21, 21);
}
@media (max-width: 768px) and (min-width: 425px) {
  .About__title-container {
    font-size: 3.5vw;
    row-gap: 10vw;
  }
}
@media (max-width: 425px) {
  .About__title-container {
    font-size: 5.5vw;
    row-gap: 15vw;
  }
}
.About__info-box {
  display: flex;
  -moz-column-gap: 2%;
       column-gap: 2%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Contact-me, .Contact-me__mail {
  display: flex;
  flex-direction: column;
  margin: 5% 5% 2% 5%;
}
@media (max-width: 425px) {
  .Contact-me, .Contact-me__mail {
    margin: 3% 3% 3% 3%;
  }
}
.Contact-me__head-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 4%;
       column-gap: 4%;
  margin-bottom: 5%;
}
@media (max-width: 425px) {
  .Contact-me__head-container {
    -moz-column-gap: 6%;
         column-gap: 6%;
  }
}
.Contact-me__head {
  font-size: 5vw;
  font-family: "Gemunu Libre", sans-serif;
  color: rgb(21, 21, 21);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Contact-me__head {
    font-size: 7vw;
  }
}
@media (max-width: 425px) {
  .Contact-me__head {
    font-size: 10vw;
  }
}
.Contact-me__gif {
  display: flex;
  align-items: center;
  margin-bottom: 0.5vw;
  width: 5vw;
  height: 5vw;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Contact-me__gif {
    width: 10vw;
    height: 8vw;
  }
}
@media (max-width: 425px) {
  .Contact-me__gif {
    width: 15vw;
    height: 15vw;
  }
}
.Contact-me__title-container {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  font-size: 2.5vw;
  margin-bottom: 5%;
  letter-spacing: 0.3vw;
  font-weight: lighter;
  font-family: "Roboto Slab", serif;
  color: rgb(21, 21, 21);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Contact-me__title-container {
    font-size: 3.5vw;
  }
}
@media (max-width: 425px) {
  .Contact-me__title-container {
    font-size: 5.5vw;
    line-height: 8vw;
  }
}
.Contact-me__mail {
  margin-left: 0;
  color: #1072D5;
  font-weight: bold;
}
.Contact-me__mail:hover {
  transform: scale(1.1);
}
.Contact-me__form-container {
  display: flex;
  margin-top: 8%;
  padding-bottom: 5%;
}
.Contact-me__form {
  display: flex;
  width: 50%;
  row-gap: 5vw;
  flex-direction: column;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Contact-me__form {
    width: 80%;
    row-gap: 10vw;
  }
}
@media (max-width: 425px) {
  .Contact-me__form {
    width: 90%;
    row-gap: 15vw;
  }
}
.Contact-me__inputs, .Contact-me__message {
  border: none;
  border-bottom: 2px solid rgb(21, 21, 21);
  background: transparent;
  padding-left: 1%;
  color: rgb(21, 21, 21);
  outline: none;
  display: flex;
  height: 5vw;
  font-size: 2vw;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Contact-me__inputs, .Contact-me__message {
    font-size: 4vw;
    height: 10vw;
  }
}
@media (max-width: 425px) {
  .Contact-me__inputs, .Contact-me__message {
    font-size: 7vw;
    height: 20vw;
  }
}
.Contact-me__inputs:focus, .Contact-me__message:focus {
  border-bottom: 2px solid #1072D5 !important;
}
.Contact-me__inputs:focus::-moz-placeholder, .Contact-me__message:focus::-moz-placeholder {
  color: #1072D5 !important;
}
.Contact-me__inputs:focus:-ms-input-placeholder, .Contact-me__message:focus:-ms-input-placeholder {
  color: #1072D5 !important;
}
.Contact-me__inputs:focus::placeholder, .Contact-me__message:focus::placeholder {
  color: #1072D5 !important;
}
.Contact-me__sub {
  display: flex;
  font-size: 2vw;
  font-weight: bold;
  padding: 2%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4%;
  color: rgb(227, 245, 247);
  background-color: rgb(21, 21, 21);
  outline: none;
  border: 1px solid rgb(21, 21, 21);
  box-shadow: 5px 10px gray;
  cursor: pointer;
}
.Contact-me__sub:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Contact-me__sub {
    font-size: 5vw;
  }
}
@media (max-width: 425px) {
  .Contact-me__sub {
    font-size: 7vw;
  }
}

.Foot {
  display: flex;
  flex-direction: column;
  background: rgb(21, 21, 21);
  padding: 2% 5% 2% 5%;
}
@media (max-width: 425px) {
  .Foot {
    padding: 3% 3% 5% 3%;
  }
}
.Foot__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}
@media (max-width: 425px) {
  .Foot__logo-container {
    justify-content: start;
  }
}
.Foot__logo {
  width: 5vw;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot__logo {
    width: 10vw;
  }
}
@media (max-width: 425px) {
  .Foot__logo {
    width: 15vw;
  }
}
.Foot__link-container {
  display: flex;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  justify-content: center;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 2vw;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot__link-container {
    font-size: 3.5vw;
  }
}
@media (max-width: 425px) {
  .Foot__link-container {
    flex-direction: column;
    font-size: 5.5vw;
    row-gap: 3vw;
  }
}
.Foot__link {
  color: rgb(227, 245, 247);
}
.Foot__link:hover {
  color: #1072D5 !important;
  transform: scale(1.1);
}
.Foot__social-container {
  display: flex;
  padding-top: 2%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  .Foot__social-container {
    flex-direction: column;
  }
}
.Foot__created {
  color: rgb(227, 245, 247);
  font-size: 1.5vw;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot__created {
    font-size: 2.5vw;
  }
}
@media (max-width: 425px) {
  .Foot__created {
    order: 2;
    font-size: 5vw;
  }
}
.Foot__socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 5%;
       column-gap: 5%;
  width: 50%;
}
@media (max-width: 425px) {
  .Foot__socials {
    justify-content: start;
    width: 100%;
    padding-bottom: 5%;
  }
}
.Foot__icon {
  width: 3vw;
  height: 3vw;
  color: rgb(227, 245, 247);
}
.Foot__icon:nth-child(3) {
  height: 2.8vw;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot__icon:nth-child(3) {
    height: 4.8vw;
  }
}
@media (max-width: 425px) {
  .Foot__icon:nth-child(3) {
    height: 9vw;
  }
}
.Foot__icon:hover {
  transform: scale(1.1);
  color: #1072D5 !important;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot__icon {
    width: 5vw;
    height: 5vw;
  }
}
@media (max-width: 425px) {
  .Foot__icon {
    width: 10vw;
    height: 10vw;
  }
}

* {
  padding: 0;
  margin: 0;
  transition: ease-in-out 0.3s;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 768px) and (min-width: 425px) {
  .divider {
    margin-top: 10%;
  }
}
@media (max-width: 425px) {
  .divider {
    margin-top: 20%;
  }
}

::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  height: auto;
  flex-direction: column;
  box-sizing: border-box;
}/*# sourceMappingURL=App.css.map */